body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 10px;
}

footer {
    background-color: #4682b4;
    color: white;
    padding: 5px;
    text-align: center;
}
